.f-w-b {
  font-weight: bold;
}
.text-l {
  text-align: left !important;
}
.m-b10 {
  margin-bottom: 10px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "微软雅黑";
  max-width: 768px;
  margin: 0 auto;
}
.top {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #0476CB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  color: #fff;
  padding-left: 30px;
  background: url("../img/back.png") no-repeat 10px center;
  background-size: 10px 15px;
}
.ban {
  width: 100%;
}
.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #DCDCDC;
}
.nav .nav-item {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.nav .nav-itemlink {
  color: #434343;
  display: block;
  text-align: center;
  font-size: 0;
  padding: 10px 0;
}
.nav .nav-itemlink .icon {
  margin-bottom: 8px;
  width: 25px;
}
.nav .nav-itemlink .txt {
  font-size: 14px;
  color: #434343;
}
.nav .nav-itemlink .txt.active {
  color: #0478CE;
}
.explain {
  padding: 40px 0 67px;
  font-size: 15px;
  line-height: 25px;
}
.explain .main {
  padding: 0 10px;
}
.explain .main .title {
  margin: 20px 0;
}
.explain .main .title p {
  text-align: center;
}
.explain .main .title p .c-red {
  color: red;
  font-weight: bold;
}
.explain .main .title .c-blue {
  color: #00479d;
  font-weight: bold;
}
.explain .main .date {
  margin: 20px 0;
}
.explain .main .date .date-item {
  text-align: center;
}
.explain .main .item {
  margin: 20px 0;
}
.explain .main .item .item-title {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.explain .main .item .item-txt {
  color: #434343;
  text-align: center;
  font-size: 14px;
}
.con {
  padding: 40px 0 67px;
}
.con.bg {
  background-image: url("../img/bg.png");
  background-size: 100% 100%;
}
.con-body {
  padding: 20px 10px 20px 15px;
}
.con-item {
  padding: 10px 0 10px 30px;
  border-left: 3px solid #ADCFE9;
  position: relative;
}
.con-item .icona {
  position: absolute;
  top: 29px;
  left: -12px;
  width: 20px;
}
.con-item .iconb {
  position: absolute;
  top: 30px;
  left: 16px;
  width: 15px;
}
.con-item .con-main {
  padding: 20px 10px;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background-color: #fff;
}
.con-item .con-main .item-txt {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.con-item .con-main .item-txt img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  margin: 15px 0 0;
}
.con-item .con-main .item-txt .theme {
  font-size: 16px;
  color: #B8471F;
  margin-top: 8px;
}
.con-item .title {
  font-size: 15px;
  color: #434343;
}
.con-item .title .date {
  margin-right: 10px;
}
.body-item.js {
  margin-bottom: 35px;
}
.body-item.js .per img {
  width: 67px;
  height: 67px;
  border: 5px solid #fff;
  float: left;
}
.body-item.js .per .title {
  float: left;
  padding: 10px 20px 20px 15px;
}
.body-item.js .per .title .name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
.body-item.js .per .title .zw {
  font-size: 14px;
  line-height: 18px;
}
.body-item.js.last {
  margin-bottom: 0;
}
.body-item.js .tall {
  border: 1px solid #E1E1E1;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  position: relative;
}
.body-item.js .tall .iconc {
  position: absolute;
  top: -12px;
  left: 30px;
}
.body-item.js .tall .tall-title {
  color: #B94A23;
  line-height: 25px;
  margin-bottom: 5px;
}
.body-item.js .tall .title {
  font-size: 16px;
}
.body-item.js .tall .tall-txt {
  line-height: 20px;
}
.modal-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.modal-link {
  padding: 35px 0 25px;
  display: block;
  text-align: center;
  background-color: #f3f3f3;
}
.modal-link p {
  margin-top: 20px;
  font-size: 15px;
  color: #434343;
}
.modal-link.active {
  background-color: #eee;
}
/*# sourceMappingURL=media.css.map */
